.animation {
  animation: myAnim 500ms ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    transform: scaleY(0);
    transform-origin: 100% 0%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 100% 0%;
  }
}
